.searchResult__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
  flex-direction: column;
}

.searchResult__logo {
  object-fit: contain;
  height: 50px;
  margin: 0 auto 20px;
}

.searchResult__headerBody > .search > .search__input {
  margin-top: 0;
  margin: unset;
}

.searchResult__options,
.searchResult__optionsRight,
.searchResult__optionsLeft {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.searchResult__optionsRight {
  margin-left: 0;
}

.searchResult__items {
  max-width: 100%;
  margin: 20px auto;
  padding: 0 10px;
}

.searchResult__itemsCount {
  color: #70757a;
  font-size: 14px;
}

.searchResult__item {
  margin: 40px 0;
}

.searchResult__itemLink {
  display: flex;
  align-items: center;
  color: #202124;
  text-decoration: none;
}

.searchResult__itemImage {
  object-fit: contain;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.searchResult__itemTitle {
  text-decoration: none;
}

.searchResult__itemTitle:hover {
  text-decoration: underline;
}

/* .searchResult__itemTitle > h2 {
    font-weight: 500;
    margin: 10px 0;
} */

.searchResult__itemTitle h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.searchResult__itemTitle h3 {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 0.2rem;
}

.searchResult__itemTitle p {
  font-size: 1rem;
  color: #999;
}

/* mobile logo in the center  */
@media screen and (max-width: 768px) {
  .searchResult__header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .searchResult__logo {
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 768px) {
  .searchResult__header {
    flex-direction: row;
  }

  .searchResult__logo {
    margin-right: 50px;
  }

  .searchResult__optionsRight {
    margin-left: 80px;
  }

  .searchResult__items {
    max-width: 715px;
    margin-left: 240px;
    margin-bottom: 100px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 2s infinite;
}
